.razz
{
width: 500px;
background-color: #000;
font-family: tahoma;
font-size:11px;
color: #f5e3e8;
text-align: justify;
border-radius: 10px;
border: 2px solid #bc9355;
}
.razz t
{
font-weight:bold;
font-variant: small-caps;
color: #dfa0b1;
}
.razz p
{
padding: 4px;
}
.razz .ooc
{
font-style:italic;
font-family:Arial;
font-size:9px;
color: #C0C0C0;
}
